@font-face {
  font-family: 'Jua';
  src: url('./fonts/Jua.woff2') format('woff2');
}
body{
    background-color: #e0ffe0;
    font-family: 'Jua'
}
main {
    background-color: #e0e0e0;
    border: none;
    border-radius: 16px;
    padding: 16px;
    margin: 20px 0;
    max-width: 600px;
}
header {
    background-color: #a0a0ff;
    border: none;
    border-radius: 16px;
    padding: 4px;
    margin: 20px 0;
    text-align: center;
}
a{
    text-decoration: none;
}
a:link{
    color: rgb(80, 80, 255)
}
a:visited{
    color: rgb(80,80,255)
}
a:hover{
    color: rgb(255, 80, 80)
}
ul{
    list-style: none;
    padding-left: 0;
}
ul li::before{
    content: "➤";
    color: #000000;
    margin-right: 8px;
}
ul li{
  margin-left: 20px;
}